<div class="container">
  <h5>{{msg}}</h5>
  {{#each channelData}}
  {{@key}}
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s1">
        <img alt="" class="circle responsive-img align" src="{{subjectPhotoUrl}}">
      </div>
      <div class="col s5">
        <div>
          <h5 class="title">{{msg}}</h5>
          <br/>
         <p class="description">{{description}}</p>
        </div>
      </div>
      <div class="col s3">
        <div class="align">
          <img alt="" class="circle responsive-img" src=
          "{{instructorPhotoUrl}}"> <span class="instructor">{{instructorName}}</span>
        </div>
      </div>
      <div class="col s3">
        <div >
          <div>
            <div class="time">
              {{time}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    {#nthIteration @index 2}}
          <!-- markup to insert after third iteration -->
        <h5> March 30, 2015</h5>
        <h5>{{../msg}}</h5>
    {{/nthIteration}}
  {{/each}}
  </div>