<div class="container">
  <h5>{{msg}}</h5>
  {{#each channelData}}
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s1">
        <img alt="" class="circle responsive-img align" src="{{subjectPhotoUrl}}"> 
      </div>
      <div class="col s5">
        <div>
          <h5 class="align2">{{title}}</h5>
          <br/>
          <p>{{description}}</p>
        </div>
      </div>
      <div class="col s3">
        <div class="align">
          <img alt="" class="circle responsive-img" src=
          "{{instructorPhotoUrl}}"> <span>{{instructorName}}</span>
        </div>
      </div>
      <div class="col s3">
        <div >
          <div>
            <div class="align">
              {{time}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  </div>